<h1>Nuevo Proveedor</h1>
<%= form_for @provider do |p| %>

 <%= p.label      :name %>
  <br>
 <%= p.text_field :name %>
  <br>
  <%= p.label     :address %>
  <br>
  <%= p.text_area :address %>
  <br>
  <%= p.submit %>
  <%= link_to "Cancel", providers_path %>
  <% end -%>